.container {
    display: grid;
    grid-template-columns: repeat(7, 14.29% [col-start]);
    grid-template-rows: repeat(2, 252px [row-start]);
    margin-left: 40px;
    margin-right: 0px;
}

.header {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.header span {
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins;
}

.showall-btn{
    z-index: 1;
    font-family: Poppins;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.songs{
    margin-left: 32px;
}
.songs-heading {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins;
}
.tab {
    color: #ffffff;
}