.card{
    width: 166px;
    height: 232px;
}
.card-info{
    background-color: white;
    color: #121212;
    width: 166px;
    height: 205px;
    border-radius: 10px;
}
.card-info img{
    width: 166px;
    height: 170px;
}
.card-name{
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
}
.chip {
    width: 80px;
    height: 23px;
    font-family: Poppins;
    font-size: 10px;
    padding: 4px 0px 4px 0px;
    border-radius: 10px;
    margin-left: 6px;
    font-weight: 400;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}