.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 74px;
    background-color: #34C94B;
    padding: 0 32px;
}
.navbar img {
    width: 67px;
    height: 54px;
}

.css-q1t27n {
    width: 568px;
    height: 48px;
}

.navbar Button {
    width: 170px;
    height: 47px;
    font-family: Poppins;
}

.MuiIconButton-root {
    width: 66px;
}